---
const services = [
  {
    step: '01',
    name: 'Google Search',
    description:
      'Google Search is the absolute dominating force in defining how successful any website is. Apply serious focus to improving your rank on a weekly basis.',
    link: '/digital-marketing/seo',
    linktxt: 'More info',
    imgsrc: '/works/cpc-marketing-results-real-estate-high-competitive-term.png',
    imgalt: 'Velocity web design for lead generation websites designed and developed on the Gold Coast - Leading Gold Coast web design with Aidxn Design',
  },
  {
    step: '02',
    name: 'Google Maps',
    description:
      'Where digital marketing is headed. Using the power of search data mixed with localised results, Maps is by far the most useful lead generation tool.',
    link: '/digital-marketing/local-seo',
    linktxt: 'More info',
    imgsrc: '/works/traffic-improvement.webp',
    imgalt: 'Velocity web design for lead generation websites designed and developed on the Gold Coast - Leading Gold Coast web design with Aidxn Design',
  },
  {
    step: '03',
    name: 'Facebook / Instagram Ads',
    description:
      'Facebook and Instagram ads, when done right can capture extreme amounts of attention and conversions. Leaving it to chance and you can burn money fast.',
    link: '/digital-marketing/cpm-marketing',
    linktxt: 'More info',
    imgsrc: '/works/facebook-marketing-results.png',
    imgalt: 'Velocity web design for lead generation websites designed and developed on the Gold Coast - Leading Gold Coast web design with Aidxn Design',
  },
  {
    step: '04',
    name: 'Interactive Ads',
    description:
      'Powering 98.5% of all webpage based ads, we take Google Display to the next level with interactive ad designs. One of our favourite marketing technologies.',
    link: 'digital-marketing/interactive-ads',
    linktxt: 'More info',
    imgsrc: '/works/gwd-interactive-ads.webp',
    imgalt: 'Velocity web design for lead generation websites designed and developed on the Gold Coast - Leading Gold Coast web design with Aidxn Design',
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto px-4 sm:px-6 md:px-8 lg:px-12 xl:px-16 w-full">
    <div class="flex flex-col gap-4">
      <h4 class="text-center text-base lg:text-lg uppercase font-thin tracking-widest">Using a range of frameworks</h4>
      <div class="grid gap-8 grid-cols-1 lg:grid-cols-2">
        {
          services.map((service) => (
            <div class="bg-primary-500/10 dark:bg-primary-400/10 flex flex-col-reverse xl:flex-row items-start xl:items-center gap-12 rounded-3xl px-6 py-8">
              <div class="w-full xl:w-3/5">
                
                <div class="flex flex-col gap-4">
                  <p class="text-sm pb-4">{service.step}</p>
                  <h3 class="text-xl font-medium">{service.name}</h3>
                  <p class="text-primary-950/70 dark:text-primary-200/70 text-base xl:text-lg max-w-3xl">
                    {service.description}
                  </p>
                  <div>
                    <a
                      href={service.link}
                      class="mt-6 mr-4 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
                    >
                      {service.linktxt}
                    </a>
                  </div>
                </div>
              </div>
              <div class="w-3/4 md:w-1/2 xl:w-2/5">
                <img class="rounded-xl bg-primary-700" src={service.imgsrc} alt={service.imgalt} />
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
