---
const services = [
  {
    step: '01',
    name: 'Video Ad Production',
    description:
      'Capture more leads organically for your business every week. Experts in Local SEO for Google Maps Optimisation, perfect for smaller businesses.',
    link: '/web-design/seo-improvement',
    linktxt: 'More info',
  },
  {
    step: '02',
    name: 'Competitor & Keyword Research',
    description:
      'Keyword and competitor research is a great way to create successful ad campaigns. Understand the design systems your customers are expecting.',
    link: '/web-design/conversion-optimisation',
    linktxt: 'More info',
  },
  {
    step: '03',
    name: 'Ad Design Validation',
    description:
      'Validate the success of an ad campaign and the creative designs that are ready before wasting your ad budget. Using real people for real world data.',
    link: '/web-design/pageload-optimisation',
    linktxt: 'More info',
  },
  {
    step: '04',
    name: 'Marketing Funnel Optimisation',
    description:
      'Breaking down your entire marketing funnel into numeric results to understand exactly where you are losing customers and why. Then applying the necessary fixes.',
    link: '/web-design/ux-design',
    linktxt: 'More info',
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto px-4 sm:px-6 md:px-8 lg:px-12 xl:px-16 w-full">
    <div class="flex flex-col gap-4">
      <h4 class="text-center text-base lg:text-lg uppercase font-thin tracking-widest">More Digital Marketing Services</h4>
      <div class="grid gap-8 md:grid-cols-2 xl:grid-cols-4">
        {
          services.map((service) => (
            <div class="bg-primary-500/10 dark:bg-primary-400/10 flex flex-col gap-12 rounded-3xl px-6 py-8">
              <p class="text-sm">{service.step}</p>
              <div class="flex flex-col gap-4">
                <h3 class="text-xl font-medium">{service.name}</h3>
                <p class="text-primary-950/70 dark:text-primary-200/70 text-base xl:text-lg">
                  {service.description}
                </p>
                <div>
                  <a
                    href={service.link}
                    class="mt-6 mr-4 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
                  >
                    {service.linktxt}
                  </a>
                </div>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
