---
const services = [
  {
    step: '05',
    name: 'Video Ad Production',
    description:
      'Capture more leads organically for your business every week. Experts in Local SEO for Google Maps Optimisation, perfect for smaller businesses.',
    link: '/digital-marketing/video-ad-production',
    linktxt: 'More info',
  },
  {
    step: '06',
    name: 'Keyword Research',
    description:
      'Keyword research is a great way to create successful ad campaigns. Helping generate more results from all sources through organic score improvement.',
    link: '/digital-marketing/keyword-research',
    linktxt: 'More info',
  },
  {
    step: '07',
    name: 'Competitor Research',
    description:
      'Understand the design systems your customers are expecting and implement what looks the most professional across your industry with competitor research.',
    link: '/digital-marketing/competitor-research',
    linktxt: 'More info',
  },
  {
    step: '08',
    name: 'Conversion Optimisation',
    description:
      'Breaking down your entire marketing funnel into numeric results to understand exactly where you are losing customers and why. Then applying the necessary fixes.',
    link: '/digital-marketing/conversion-optimisation',
    linktxt: 'More info',
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto px-4 sm:px-6 md:px-8 lg:px-12 xl:px-16 w-full">
    <div class="flex flex-col gap-4">
      <h4 class="text-center text-base lg:text-lg uppercase font-thin tracking-widest">More Digital Marketing Services</h4>
      <div class="grid gap-8 md:grid-cols-2 xl:grid-cols-4">
        {
          services.map((service) => (
            <div class="bg-primary-500/10 dark:bg-primary-400/10 flex flex-col gap-12 rounded-3xl px-6 py-8">
              <p class="text-sm">{service.step}</p>
              <div class="flex flex-col gap-4">
                <h3 class="text-xl font-medium">{service.name}</h3>
                <p class="text-primary-950/70 dark:text-primary-200/70 text-base xl:text-lg">
                  {service.description}
                </p>
                <div>
                  <a
                    href={service.link}
                    class="mt-6 mr-4 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
                  >
                    {service.linktxt}
                  </a>
                </div>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
