---
const services = [
  {
    step: '01',
    name: 'Velocity Web Design',
    description:
      'Velocity is our custom website solution, making it easier and cheaper for businesses to have a high-performance website. Infinitely extendable.',
    link: '/web-design/velocity',
    linktxt: 'More info',
    imgsrc: '/works/ax-sqr-boog.webp',
    imgalt: 'Velocity web design for lead generation websites designed and developed on the Gold Coast - Leading Gold Coast web design with Aidxn Design',
  },
  {
    step: '02',
    name: 'Shopify Web Design',
    description:
      'The most trusted solution for large scale B2B business websites for their sale processing speed and out of the box e-commerce integrations.',
    link: '/web-design/shopify',
    linktxt: 'More info',
    imgsrc: '/works/ax-sqr-estemshop.webp',
    imgalt: 'Velocity web design for lead generation websites designed and developed on the Gold Coast - Leading Gold Coast web design with Aidxn Design',
  },
  {
    step: '03',
    name: 'Wordpress Web Design',
    description:
      'One of the earlier website platforms, Wordpress once paved the way for the web. Today it can be costly to keep performance upto standards.',
    link: '/web-design/wordpress',
    linktxt: 'More info',
    imgsrc: '/works/ax-sqr-br-render.webp',
    imgalt: 'Velocity web design for lead generation websites designed and developed on the Gold Coast - Leading Gold Coast web design with Aidxn Design',
  },
  {
    step: '04',
    name: 'Custom Web Design',
    description:
      'Use any web3 framework that your business has already integrated into your stack, from React to Node JS. For projects with scope over 3 months.',
    link: 'https://g2ok5807scs.typeform.com/to/tCmzlDza?typeform-source=aidxn.com/web-design',
    linktxt: 'Book a Consult',
    imgsrc: '/works/ax-sqr-drts.webp',
    imgalt: 'Velocity web design for lead generation websites designed and developed on the Gold Coast - Leading Gold Coast web design with Aidxn Design',
  },
];
---

<section class="my-28">
  <div id="contain" class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 w-full">
    <div class="flex flex-col gap-4">
      <h4 class="text-center text-base lg:text-lg uppercase font-thin tracking-widest">Web Design Technologies</h4>
      <div class="grid gap-6 grid-cols-1 lg:grid-cols-2">
        {
          services.map((service) => (
          <div>
            <a rel="canonical" href={service.link}>
              <div class="border-primary-900/10 dark:border-primary-300/10 hover:bg-primary-900/10 hover:dark:bg-primary-300/10 duration-200 rounded-3xl border px-4 py-8 md:px-6 md:py-12 h-full flex flex-col-reverse sm:flex-row-reverse items-center gap-8">
                <div class="w-full cursor-pointer">  
                  <div class="flex flex-col gap-4">
                    <p class="text-sm">{service.step}</p>
                    <h2 class="text-xl md:text-2xl font-medium my-4">{service.name}</h2>
                    <p class="inline-block text-primary-950/70 dark:text-primary-200/70 text-base xs:text-lg max-w-3xl">
                      {service.description}
                    </p>
                    <div>
                      <a
                        href={service.link}
                        class="sm:hidden md:inline-block mt-2 mr-2 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
                      >
                        {service.linktxt}
                      </a>
                    </div>
                  </div>
                </div>
                <div class="hidden"> <!-- Currently Hidden and removed block w-full lg:w-1/3 -->
                  <a href={service.link}>
                    <img class="cursor-pointer rounded-lg bg-primary-700" src={service.imgsrc} alt={service.description} />
                  </a>
                </div>
              </div>
            </a>
          </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
