---
const services = [
  {
    step: '05',
    name: 'Search Engine Optimisation',
    description:
      'Capture more leads organically for your business every week. Experts in Local SEO for Google Maps Optimisation, perfect for smaller businesses.',
    link: '/web-design/seo-optimisation',
    linktxt: 'More info',
  },
  {
    step: '06',
    name: 'Conversion Rate Optimisation',
    description:
      'We take a deep dive into where you are losing customers on your website. Designing the best UX for your target market. Improves SEO and CPC results.',
    link: '/web-design/conversion-optimisation',
    linktxt: 'More info',
  },
  {
    step: '07',
    name: 'Pageload Optimisation',
    description:
      'Website pageload times are one of the biggest impacts on conversion rate today. We help save lost sales through improving performance and UX optimisation.',
    link: '/web-design/pageload-optimisation',
    linktxt: 'More info',
  },
  {
    step: '08',
    name: 'UX Design / User Flow',
    description:
      'My taste in web design is mostly UX-focused, designing your website to suit the way your target market expect. Improving user experience and conversion rate.',
    link: '/web-design/ux-design',
    linktxt: 'More info',
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-7xl w-full px-4 sm:px-6 lg:px-8">
    <div class="flex flex-col gap-4">
      <h4 class="text-center text-base lg:text-lg uppercase font-thin tracking-widest">More Web Design Services</h4>
      <div class="grid gap-6 lg:gap-8 lg:grid-cols-2">
        {
          services.map((service) => (
          <div>
            <a href={service.link}>
              <div class="bg-primary-500/10 dark:bg-primary-400/10 flex flex-col rounded-3xl px-4 lg:px-6 py-12">
                <p class="text-sm mb-4">{service.step}</p>
                <div class="cursor-pointer flex flex-col gap-6">
                  <h3 class="text-xl font-medium tracking-tight my-4">{service.name}</h3>
                  <p class="text-primary-950/70 dark:text-primary-200/70 text-base xs:text-lg">
                    {service.description}
                  </p>
                  <div>
                    <a
                      href={service.link}
                      class="mt-6 mr-4 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
                    >
                      {service.linktxt}
                    </a>
                  </div>
                </div>
              </div>
            </a>
          </div>
          ))
        }
      </div>
    </div>
  </div>
</section>