---
const services = [
  {
    step: '01',
    name: 'Brand Strategy',
    img: '/works/ax-logo-design.webp',
    alt: 'Brand Strategy and Graphic Design on the Gold Coast',
    description:
      'From logos and graphics, target market and voice, branded textures. Designed for print and digital.',
    link: '/brand-strategy',
  },
  {
    step: '02',
    name: 'Web Design',
    img: '/works/ax-logo-develop.webp',
    alt: 'Web Design with Shopify, Wordpress and Velocity',
    description:
      'Trust over 10 years of web design experience to design the best web experience for your customer.',
    link: '/web-design',
  },
  {
    step: '03',
    name: 'Digital Marketing',
    img: '/works/ax-logo-market.webp',
    alt: 'Digital marketing services and marketing management',
    description:
      'Digital marketing for all platforms. SEO, funnel optimisations and ad creative designs by an expert.',
    link: '/digital-marketing',
  },
  {
    step: '04',
    name: 'Moonshot Plan',
    img: '/works/ax-logo-moonshot.webp',
    alt: 'Complete website and digital marketing management on the Gold Coast',
    description:
      'Our complete website and marketing management plan. Everything I offer in one, pause anytime.',
    link: '/moonshot-plan',
  },
];
---

<section class="my-32 lg:my-28">
  <div class="mx-auto px-4 sm:px-6 w-full lg:max-w-7xl lg:px-8">
    <div class="">
      <h3 class="text-2xl sm:text-3xl font-medium tracking-tight my-6">Web design and marketing, face-to-face.</h3>
      <div class="grid gap-2 xs:gap-4 grid-cols-1 sm:grid-cols-2">
        {
          services.map((service) => (
          <a href={service.link}>  
            <div class="bg-primary-500/10 dark:bg-primary-400/10 hover:bg-primary-800/10 hover:dark:bg-primary-100/10 hover:shadow-sm duration-200 flex flex-col rounded-3xl px-4 py-12 h-full">
              <div class="flex flex-col lg:flex-row items-start lg:items-center gap-4">
                <div class="w-2/3 lg:w-3/5">
                  <img
                    class="h-auto w-auto bg-contain"
                    width="640"
                    height="640"
                    src={service.img}
                    alt={service.alt}
                  />
                </div>
                <div class="ml-2 flex flex-col gap-4">
                  <p class="text-sm pb-4">{service.step}</p>
                  <h3 class="text-2xl sm:text-lg lg:text-xl font-medium">{service.name}</h3>
                  <p class="text-primary-950/70 dark:text-primary-200/70 text-base xs:text-lg leading-6">
                    {service.description}
                  </p>
                </div>
                
              </div>
            </div>
          </a>
          ))
        }
      </div>
    </div>
  </div>
</section>
