---
const services = [
  {
    step: '01',
    name: 'Web Design',
    img: '/works/ax-logo-develop.webp',
    alt: 'Web Design with Shopify, Wordpress and Velocity',
    description:
      'An expert in web design, powering brands with a range of technologies.',
    link: '/web-design',
  },
  {
    step: '02',
    name: 'Graphic Design',
    img: '/works/ax-logo-design.webp',
    alt: 'Brand Strategy and Graphic Design on the Gold Coast',
    description:
      'From logos to graphics, target market to voice. Designed for print and digital.',
    link: '/graphic-design',
  },
  {
    step: '03',
    name: 'Digital Marketing',
    img: '/works/ax-logo-market.webp',
    alt: 'Digital marketing services and marketing management',
    description:
      'Marketing for all platforms, digital and physical. Optimise your entire funnel.',
    link: '/digital-marketing',
  },
  {
    step: '04',
    name: 'Moonshot Plan',
    img: '/works/ax-logo-moonshot.webp',
    alt: 'Complete website and digital marketing management on the Gold Coast',
    description:
      'Website, branding and marketing optimisation. Pause anytime.',
    link: '/moonshot-plan',
  },
];
---

<section class="mb-28 mt-16">
  <div class="mx-auto px-4 sm:px-6 w-full lg:max-w-7xl lg:px-8">
    <div class="">
      <div class="w-full text-center">
        <h3 class="text-base uppercase font-thin tracking-widest pb-4">
          Services
        </h3>
      </div>
      
      <div class="grid gap-4 grid-cols-1 sm:grid-cols-2">
        {
          services.map((service) => (
          <a rel="canonical" href={service.link}>  
            <div class="border-primary-900/10 dark:border-primary-300/10 hover:bg-primary-900/10 hover:dark:bg-primary-300/10 duration-200 rounded-3xl border px-4 md:px-6 py-12 h-full flex flex-col justify-center gap-4">
              <div class="flex flex-row-reverse sm:flex-col lg:flex-row items-center justify-center gap-6">
                <div class="w-1/2 sm:w-full lg:w-1/2">
                  <img
                    class="h-auto w-3/5 sm:w-1/2 lg:w-3/4 mx-auto bg-contain"
                    width="640"
                    height="640"
                    src={service.img}
                    alt={service.alt}
                  />
                </div>
                <div class="w-1/2 sm:w-full lg:w-2/3 mx-auto md:ml-2 flex flex-col">
                  <p class="hidden md:block text-sm pt-4">{service.step}</p>
                  <h2 class="text-left sm:text-center md:text-left text-xl sm:text-lg lg:text-xl font-medium md:my-6">{service.name}</h2>
                  <p class="hidden md:block text-primary-950/70 dark:text-primary-200/70 text-base xs:text-lg leading-6">
                    {service.description}
                  </p>
                </div>
                
              </div>
            </div>
          </a>
          ))
        }
      </div>
    </div>
  </div>
</section>
