---
const services = [
  {
    step: '01',
    name: 'Graphic Design',
    img: '/works/ax-logo-design.webp',
    alt: 'Brand Strategy and Graphic Design on the Gold Coast',
    description:
      'Complete graphic design for print, web and digital marketing.',
    link: '/graphic-design',
  },

  {
    step: '01',
    name: 'Brand Identity',
    description:
      'Begin to define or refine your brand identity. Services such as logo design, color palette, typography & guidelines.',
    link: '/graphic-design/brand-identity',
    linktxt: 'More info',
    imgsrc: '/works/ax-logo-design.webp',
  },
  {
    step: '02',
    name: 'Brand Strategy',
    description:
      'At the heart of effective marketing, is messaging that speaks to your target market and turns them into customers.',
    link: '/graphic-design/brand-strategy',
    linktxt: 'More info',
    imgsrc: '/works/ax-logo-design.webp',
  },
  {
    step: '03',
    name: 'Brand Packages',
    description:
      "Graphic design for print, products and digital marketing campaigns, that leaves a lasting impression.",
    link: '/graphic-design/brand-design-packs',
    linktxt: 'More info',
    imgsrc: '/works/ax-logo-design.webp',
  },
  {
    step: '04',
    name: 'Keywork Strategy',
    description:
      'Custom code solutions for your brand. Ccreating unique branded digital experiences that reinforce identity.',
    link: '/graphic-design/interactive-design',
    linktxt: 'More info',
    imgsrc: '/works/ax-logo-design.webp',
  },
  
  {
    step: '05',
    name: 'Packaging Design',
    description:
      'Capture more leads organically for your business every week. Experts in Local SEO for Google Maps Optimisation, perfect for smaller businesses.',
    link: '/graphic-design/packaging-design',
    linktxt: 'More info',
  },
  {
    step: '06',
    name: 'Product Design',
    description:
      'We take a deep dive into where you are losing customers on your website. Designing the best UX for your target market. Improves SEO and CPC results.',
    link: '/graphic-design/product-design',
    linktxt: 'More info',
  },
  {
    step: '07',
    name: 'Ad Campaign Design',
    description:
      'We create visually captivating and strategically driven campaigns that resonate with your audience, driving engagement and delivering impactful results.',
    link: '/graphic-design/ad-campaign-design',
    linktxt: 'More info',
  },
  {
    step: '08',
    name: 'Logo Design',
    description:
      "We write, produce and film compelling video advertisements that drive engagement and conversions, helping your brand thrive in the digital landscape.",
    link: '/graphic-design/logo-design',
    linktxt: 'More info',
  },



  {
    step: '02',
    name: 'Web Design',
    img: '/works/ax-logo-develop.webp',
    alt: 'Web Design with Shopify, Wordpress and Velocity',
    description:
      'An expert in web design, that truly learns your business.',
    link: '/web-design',
  },

  {
    step: '01',
    name: 'Velocity Web Design',
    description:
      'Velocity is our custom website solution, making it easier and cheaper for businesses to have a high-performance website. Infinitely extendable.',
    link: '/web-design/velocity',
    linktxt: 'More info',
    imgsrc: '/works/ax-sqr-boog.webp',
    imgalt: 'Velocity web design for lead generation websites designed and developed on the Gold Coast - Leading Gold Coast web design with Aidxn Design',
  },
  {
    step: '02',
    name: 'Shopify Web Design',
    description:
      'The most trusted solution for large scale B2B business websites for their sale processing speed and out of the box e-commerce integrations.',
    link: '/web-design/shopify',
    linktxt: 'More info',
    imgsrc: '/works/ax-sqr-estemshop.webp',
    imgalt: 'Velocity web design for lead generation websites designed and developed on the Gold Coast - Leading Gold Coast web design with Aidxn Design',
  },
  {
    step: '03',
    name: 'Wordpress Web Design',
    description:
      'One of the earlier website platforms, Wordpress once paved the way for the web. Today it can be costly to keep performance upto standards.',
    link: '/web-design/wordpress',
    linktxt: 'More info',
    imgsrc: '/works/ax-sqr-br-render.webp',
    imgalt: 'Velocity web design for lead generation websites designed and developed on the Gold Coast - Leading Gold Coast web design with Aidxn Design',
  },
  {
    step: '04',
    name: 'Custom Web Design',
    description:
      'Use any web3 framework that your business has already integrated into your stack, from React to Node JS. For projects with scope over 3 months.',
    link: 'https://g2ok5807scs.typeform.com/to/tCmzlDza?typeform-source=aidxn.com/web-design',
    linktxt: 'Book a Consult',
    imgsrc: '/works/ax-sqr-drts.webp',
    imgalt: 'Velocity web design for lead generation websites designed and developed on the Gold Coast - Leading Gold Coast web design with Aidxn Design',
  },

  {
    step: '05',
    name: 'Search Engine Optimisation',
    description:
      'Capture more leads organically for your business every week. Experts in Local SEO for Google Maps Optimisation, perfect for smaller businesses.',
    link: '/web-design/seo-optimisation',
    linktxt: 'More info',
  },
  {
    step: '06',
    name: 'Conversion Rate Optimisation',
    description:
      'We take a deep dive into where you are losing customers on your website. Designing the best UX for your target market. Improves SEO and CPC results.',
    link: '/web-design/conversion-optimisation',
    linktxt: 'More info',
  },
  {
    step: '07',
    name: 'Pageload Optimisation',
    description:
      'Website pageload times are one of the biggest impacts on conversion rate today. We help save lost sales through improving performance and UX optimisation.',
    link: '/web-design/pageload-optimisation',
    linktxt: 'More info',
  },
  {
    step: '08',
    name: 'UX Design',
    description:
      'My taste in web design is mostly UX-focused, designing your website to suit the way your target market expect. Improving user experience and conversion rate.',
    link: '/web-design/ux-design',
    linktxt: 'More info',
  },



  {
    step: '03',
    name: 'Digital Marketing',
    img: '/works/ax-logo-market.webp',
    alt: 'Digital marketing services and marketing management',
    description:
      'Digital marketing management that aims to help you spend less.',
    link: '/digital-marketing',
  },

  {
    step: '01',
    name: 'Google Ads',
    description:
      'Google Search is the absolute dominating force in defining how successful any website is. Apply serious focus to improving your rank on a weekly basis.',
    link: '/digital-marketing/google-search-management',
    linktxt: 'More info',
    imgsrc: '/works/ax-sqr-cpc-results.webp',
    imgalt: 'Velocity web design for lead generation websites designed and developed on the Gold Coast - Leading Gold Coast web design with Aidxn Design',
  },
  {
    step: '02',
    name: 'Interactive Ads',
    description:
      'Powering 98.5% of all webpage based ads, we take Google Display to the next level with interactive ad designs. One of our favourite marketing technologies.',
    link: 'digital-marketing/interactive-ads',
    linktxt: 'More info',
    imgsrc: '/works/ax-sqr-interactive.webp',
    imgalt: 'Velocity web design for lead generation websites designed and developed on the Gold Coast - Leading Gold Coast web design with Aidxn Design',
  },
  {
    step: '03',
    name: 'Meta Ads',
    description:
      'Facebook and Instagram ads, when done right can capture extreme amounts of attention and conversions. Leaving it to chance and you can burn money fast.',
    link: '/digital-marketing/facebook-ad-management',
    linktxt: 'More info',
    imgsrc: '/works/br-fb.webp',
    imgalt: 'Velocity web design for lead generation websites designed and developed on the Gold Coast - Leading Gold Coast web design with Aidxn Design',
  },
  {
    step: '04',
    name: 'Video Ads',
    description:
      'Where digital marketing is headed. Using the power of search data mixed with localised results, Maps is by far the most useful lead generation tool.',
    link: '/digital-marketing/video-ads',
    linktxt: 'More info',
    imgsrc: '/works/video-musicians.webp',
    imgalt: 'Velocity web design for lead generation websites designed and developed on the Gold Coast - Leading Gold Coast web design with Aidxn Design',
  },

  {
    step: '05',
    name: 'Local SEO',
    description:
      'Search Engine Optimisation strategies specifically for optimising your local customer lead generation as soon as possible. Improve impressions in Google Maps.',
    link: '/digital-marketing/local-seo',
    linktxt: 'More info',
  },
  {
    step: '06',
    name: 'Keyword Research',
    description:
      'Keyword research is a great way to create successful ad campaigns. Helping generate more results from all sources through organic score improvement.',
    link: '/digital-marketing/keyword-research',
    linktxt: 'More info',
  },
  {
    step: '07',
    name: 'Competitor Research',
    description:
      'Understand the design systems your customers are expecting and implement what looks the most professional across your industry with competitor research.',
    link: '/digital-marketing/competitor-research',
    linktxt: 'More info',
  },
  {
    step: '08',
    name: 'Conversion Optimisation',
    description:
      'Breaking down your entire marketing funnel into numeric results to understand exactly where you are losing customers and why. Then applying the necessary fixes.',
    link: '/digital-marketing/conversion-optimisation',
    linktxt: 'More info',
  },



  {
    step: '04',
    name: 'Moonshot Plan',
    img: '/works/ax-logo-moonshot.webp',
    alt: 'Complete website, branding and digital marketing management.',
    description:
      'Web design and marketing management. Pause anytime.',
    link: '/moonshot-plan',
  },
];
---
<style>
  #contain { max-width: 1920px; }
</style>

<section class="mb-28 mt-16">
  <div id="contain" class="mx-auto px-4 sm:px-6 w-full lg:px-8">
    <div class="">
      
      <div class="grid gap-6 grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
        {
          services.map((service) => (
          <a rel="canonical" href={service.link}>  
            <div class="border-primary-900/10 dark:border-primary-300/10 hover:bg-primary-900/10 hover:dark:bg-primary-300/10 shadow-sm hover:shadow-md shadow-primary-950/10 hover:shadow-primary-950/20 duration-200 rounded-3xl border px-4 md:px-6 py-8 md:py-12 h-full flex flex-col justify-center gap-4">
              <div class="w-full flex flex-row sm:flex-col lg:flex-row items-center justify-center gap-6">
                <div class="w-1/5 hidden">
                  <img
                    class="h-auto mx-auto bg-auto"
                    width="640"
                    height="640"
                    src={service.img}
                    alt={service.alt}
                  />
                </div>
                <div class="w-full mx-auto md:ml-2 flex flex-col gap-4 sm:gap-6">
                  <p class="hidden text-sm">{service.step}</p>
                  <h3 class="text-left text-xl xs:text-lg sm:text-lg md:text-xl xl:text-2xl tracking-tight font-medium">{service.name}</h3>
                  <p class="hidden text-primary-950/80 dark:text-primary-200/80 text-base xs:text-lg leading-6">
                    {service.description}
                  </p>
                </div>
                
              </div>
            </div>
          </a>
          ))
        }
      </div>
    </div>
  </div>
</section>
