---
const services = [
  {
    step: '05',
    name: 'Packaging Design',
    description:
      'Capture more leads organically for your business every week. Experts in Local SEO for Google Maps Optimisation, perfect for smaller businesses.',
    link: '/graphic-design/packaging-design',
    linktxt: 'More info',
  },
  {
    step: '06',
    name: 'Product Design',
    description:
      'We take a deep dive into where you are losing customers on your website. Designing the best UX for your target market. Improves SEO and CPC results.',
    link: '/graphic-design/product-design',
    linktxt: 'More info',
  },
  {
    step: '07',
    name: 'Ad Campaign Design',
    description:
      'We create visually captivating and strategically driven campaigns that resonate with your audience, driving engagement and delivering impactful results.',
    link: '/graphic-design/ad-campaign-design',
    linktxt: 'More info',
  },
  {
    step: '08',
    name: 'Video Ad Production',
    description:
      "We write, produce and film compelling video advertisements that drive engagement and conversions, helping your brand thrive in the digital landscape.",
    link: '/graphic-design/video-ad-design',
    linktxt: 'More info',
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto px-4 sm:px-6 md:px-8 lg:px-12 xl:px-16 w-full">
    <div class="flex flex-col gap-4">
      <h4 class="text-center text-base lg:text-lg uppercase font-thin tracking-widest">More Graphic Design Services</h4>
      <div class="grid gap-4 lg:gap-8 md:grid-cols-2 xl:grid-cols-4">
        {
          services.map((service) => (
            <div class="bg-primary-500/10 dark:bg-primary-400/10 flex flex-col gap-12 rounded-3xl px-4 lg:px-6 py-8">
              <p class="text-sm">{service.step}</p>
              <div class="flex flex-col gap-4">
                <h3 class="text-xl font-medium tracking-tight">{service.name}</h3>
                <p class="text-primary-950/70 dark:text-primary-200/70 text-base xs:text-lg">
                  {service.description}
                </p>
                <div>
                  <a
                    href={service.link}
                    class="mt-6 mr-4 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
                  >
                    {service.linktxt}
                  </a>
                </div>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
