---
const services = [
  {
    step: '01',
    name: 'Brand Identity',
    description:
      'Begin to define or refine your brand identity. Services such as logo design, color palette, typography & guidelines.',
    link: '/graphic-design/brand-identity',
    linktxt: 'More info',
    imgsrc: '/works/ax-sqr-billboard.webp',
  },
  {
    step: '02',
    name: 'Brand Strategy',
    description:
      'At the heart of effective marketing, is messaging that speaks to your target market and turns them into customers.',
    link: '/graphic-design/brand-strategy',
    linktxt: 'More info',
    imgsrc: '/works/ax-sqr-re-placement.webp',
  },
  {
    step: '03',
    name: 'Brand Packages',
    description:
      "Graphic design for print, products and digital marketing campaigns, that leaves a lasting impression.",
    link: '/graphic-design/brand-design-packs',
    linktxt: 'More info',
    imgsrc: '/works/website-mock-ups.webp',
  },
  {
    step: '04',
    name: 'Keywork Strategy',
    description:
      'Custom code solutions for your brand. Ccreating unique branded digital experiences that reinforce identity.',
    link: '/graphic-design/interactive-design',
    linktxt: 'More info',
    imgsrc: '/works/gwd-interactive-ads.webp',
  },
];
---

<section class="my-28">
  <div id="contain" class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 w-full">
    <div class="flex flex-col gap-4">
      <h4 class="text-center text-base lg:text-lg uppercase font-thin tracking-widest">Graphic Design Services</h4>
      <div class="grid gap-6 grid-cols-1 lg:grid-cols-2">
        {
          services.map((service) => (
          <div>
            <a rel="canonical" href={service.link}>
              <div class="border-primary-900/10 dark:border-primary-300/10 hover:bg-primary-900/10 hover:dark:bg-primary-300/10 duration-200 rounded-3xl border px-4 py-8 md:px-6 md:py-12 h-full flex flex-col-reverse sm:flex-row-reverse items-center gap-8">
                <div class="w-full cursor-pointer">  
                  <div class="flex flex-col gap-4">
                    <p class="text-sm">{service.step}</p>
                    <h2 class="text-xl md:text-2xl font-medium my-4">{service.name}</h2>
                    <p class="sm:hidden md:inline-block text-primary-950/80 dark:text-primary-200/80 text-base xs:text-lg max-w-3xl">
                      {service.description}
                    </p>
                    <div>
                      <a
                        href={service.link}
                        class="sm:hidden md:inline-block mt-2 mr-2 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
                      >
                        {service.linktxt}
                      </a>
                    </div>
                  </div>
                </div>
                <div class="hidden">
                  <a href={service.link}>
                    <img class="cursor-pointer rounded-lg bg-primary-700" src={service.imgsrc} alt={service.description} />
                  </a>
                </div>
              </div>
            </a>
          </div>
          ))
        }
      </div>
    </div>
  </div>
</section>