---
const services = [
  {
    step: '01',
    name: 'Brand Identity',
    description:
      'Begin to define or refine your brand identity. Services such as logo design, color palette, typography & guidelines.',
    link: '/graphic-design/brand-identity',
    linktxt: 'More info',
    imgsrc: '/works/ax-sqr-billboard.webp',
  },
  {
    step: '02',
    name: 'Strategy & Storytelling',
    description:
      'At the heart of effective marketing, is messaging that speaks to your target market and turns them into customers.',
    link: '/graphic-design/brand-strategy',
    linktxt: 'More info',
    imgsrc: '/works/ax-sqr-re-placement.webp',
  },
  {
    step: '03',
    name: 'Complete Branding Design',
    description:
      "Graphic design for print, products and digital marketing campaigns, that leaves a lasting impression.",
    link: '/graphic-design/brand-design-packs',
    linktxt: 'More info',
    imgsrc: '/works/website-mock-ups.webp',
  },
  {
    step: '04',
    name: 'Keywork Strategy',
    description:
      'Custom code solutions for your brand. Ccreating unique branded digital experiences that reinforce identity.',
    link: '/graphic-design/interactive-design',
    linktxt: 'More info',
    imgsrc: '/works/gwd-interactive-ads.webp',
  },
];
---

<section class="my-32 lg:my-28">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 w-full">
    <div class="flex flex-col gap-4">
      <h4 class="text-center text-base lg:text-lg uppercase font-thin tracking-widest">Branding and Graphic Design Services</h4>
      <div class="grid gap-8 grid-cols-1 lg:grid-cols-2">
        {
          services.map((service) => (
          <div>
            <a href={service.link}>
              <div class="border-primary-900/10 dark:border-primary-300/10 hover:bg-primary-900/10 hover:dark:bg-primary-300/10 duration-200 rounded-3xl border px-4 md:px-6 py-8 h-full flex flex-col-reverse justify-center gap-4">
                <div class="w-full cursor-pointer">  
                  <div class="flex flex-col gap-4">
                    <p class="text-sm mb-8">{service.step}</p>
                    <h2 class="text-xl font-medium my-4">{service.name}</h2>
                    <p class="text-primary-950/70 dark:text-primary-200/70 text-base xs:text-lg max-w-3xl lg:pr-4">
                      {service.description}
                    </p>
                    <div>
                      <a
                        href={service.link}
                        class="mt-6 mr-4 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
                      >
                        {service.linktxt}
                      </a>
                    </div>
                  </div>
                </div>
                <div class="w-full md:w-3/4 lg:3/5">
                  <a href={service.link}>
                    <img class="cursor-pointer rounded-lg bg-primary-700 mb-8" src={service.imgsrc} alt={service.description} />
                  </a>
                </div>
              </div>
            </a>
          </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
